.feed__header {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    border: 0px solid var(--twitter-background);
    box-shadow: 0 0.055em 0.225em rgb(20 20 20 / 15%);
    padding: 15px 20px;
  }
  
  .feed__header > h2 {
    font-size: 20px;
    font-weight: 800;
  }