.widgets {
    flex: 0.3;
    max-width: 33%;
  }
  
  .widgets__input {
    display: flex;
    align-items: center;
    background-color: var(--twitter-background);
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 20px;
    /* border: 1px solid black; */
    min-width: 95%;
    max-width: 33%;
  }
  
  .widgets__input > input {
    border: 0px;
    min-width: 90%;
    margin-left: 10px;
    background-color: var(--twitter-background);
  }
  
  .widgets__searchIcon {
    color: gray;
  }
  
  .widgets__widgetContainer {
    margin-top: 15px;
    margin-left: 20px;
    padding: 20px;
    background-color: #f5f8fa;
    border-radius: 20px;
    min-width: 95%;
    max-width: 95%;
  }
  
  .widgets__widgetContainer > h2 {
    font-size: 18px;
    font-weight: 800;
  }